<div class="purchase-table">
  <table mat-table [dataSource]="tableDataSource" >

    <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
          <td mat-footer-cell *matFooterCellDef>
            <button mat-raised-button matTooltip="Delete selection" (click)="removeSelectedItems()">
               <mat-icon>delete</mat-icon>
            </button>
          </td>
    </ng-container>
    <!-- Picture Column -->
    <ng-container matColumnDef="picture">
        <th mat-header-cell *matHeaderCellDef> Item </th>
        <td mat-cell *matCellDef="let element"> 
          <img src="{{element.pictureUrl}}"/>
        </td>
        <td mat-footer-cell *matFooterCellDef> TOTAL </td>
    </ng-container>

    <!-- URL Column -->
    <ng-container matColumnDef="url">
      <th mat-header-cell *matHeaderCellDef> Link </th>
      <td mat-cell *matCellDef="let element"> 
        <a href="{{element.url}}">
          {{element.name}}
        </a> 
      </td>
      <td mat-footer-cell *matFooterCellDef></td>

    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} ,- </td>
      <td mat-footer-cell *matFooterCellDef> {{getTotalPrice()}} ,-</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
  </table>
</div>