<form [formGroup]="appSettingsForm">
<mat-card>
    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              INCOME
            </mat-panel-title>
            <mat-panel-description>
              Money, food tickets, benefits
            </mat-panel-description>
          </mat-expansion-panel-header>
              <label matTooltip="Paid in money" for="money">Monthly income</label>
              <mat-form-field class="money">
                <input type="number" matInput formControlName="monthlyIncome">
              </mat-form-field>
              <br>
              <label for="edenred" matTooltip="Paid in Edenred tickets">Food tickets/MD</label>
              <mat-form-field class="edenred">
                  <input type="number" matInput formControlName="foodTickersPerManDay">
              </mat-form-field>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              REGULAR SPENDINGS
            </mat-panel-title>
          </mat-expansion-panel-header>
              <label for="accommodation">Rent</label>
              <mat-form-field class="accommodation">
                <input type="number" matInput formControlName="rentSpendings">
              </mat-form-field>
              <br>
              <label for="food">Food spendings</label>
              <mat-form-field class="food">
                  <input type="number" matInput formControlName="foodSpendings">
              </mat-form-field>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              TIME GOALS
            </mat-panel-title>
          </mat-expansion-panel-header>
              <label for="workdays">Work days this month</label>
              <mat-form-field class="workdays">
                <input type="number" matInput formControlName="workDaysThisMonth">
              </mat-form-field>
              <br>
              <label for="attendance">Attendance %</label>
              <mat-form-field class="attendance">
                <input type="number" matInput formControlName="goalAttendancePercent">
              </mat-form-field>
              <br>
              <p>Attendance mode:</p>
              <mat-radio-group formControlName="attendanceMode">
                  <mat-radio-button value="0">Everyday attendance</mat-radio-button>
                  <mat-radio-button value="1">Partial attendance</mat-radio-button>
              </mat-radio-group>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              APP SETTINGS
            </mat-panel-title>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </mat-accordion>
      <br>
      <button mat-raised-button [disabled]="!appSettingsForm.valid" color="primary" (click)="saveSettings()">SAVE APP STATE</button>
</mat-card>
</form>