<mat-card class="warning">
  <div *ngIf="isAttendanceRegular">
      <p class="bigger">MANDAYS TILL THE GOAL: {{remainingManDays}}</p>
      <p>If you skip work today, you will lose:</p>
      <ul class="losses">
          <li class="revenue">{{revenueLoss}} ;-</li>
          <li class="hours">{{hoursLoss}} h</li>
          <li class="mandays">{{mandayLoss}} MD</li>
      </ul>
  </div>
  <div *ngIf="!isAttendanceRegular">
      <p class="bigger">HOURS TILL THE GOAL: {{hoursTillTheGoal}}</p>
      <p>If you skip work today, you will lose:</p>
      <ul class="losses">
          <li class="revenue">{{revenueLoss}} ;-</li>
          <li class="hours">{{hoursLoss}} h</li>
          <li class="mandays">{{mandayLoss}} SMD</li>
      </ul>
  </div>
</mat-card>