@import '~@angular/material/theming';

@include mat-core();

// custom background and foreground palettes
$my-dark-theme-background: (
  status-bar: map_get($mat-purple, 100 ),
  app-bar:    map_get($mat-blue, 900),
  background: teal,
  hover:      rgba(white, 0.04), 
  card:       white,
  dialog:     map_get($mat-grey, 800),
  disabled-button: $white-12-opacity,
  raised-button: map-get($mat-grey, 800),
  focused-button: $white-6-opacity,
  selected-button: map_get($mat-grey, 900),
  selected-disabled-button: map_get($mat-grey, 800),
  disabled-button-toggle: black,
  unselected-chip: map_get($mat-grey, 700),
  disabled-list-option: black,
);

$my-dark-theme-foreground: (
  base:              black,
  divider:           black,
  dividers:          black,
  disabled:          rgba(white, 0.3),
  disabled-button:   rgba(white, 0.3),
  disabled-text:     rgba(white, 0.3),
  hint-text:         rgba(white, 0.3),
  secondary-text:    rgba(black, 0.7),
  icon:              white,
  icons:             white,
  text:              black,
  slider-min:        white,
  slider-off:        rgba(white, 0.3),
  slider-off-active: rgba(white, 0.3),
);

// instead of creating a theme with mat-light-theme like a sane person, we will create our own theme-creating function that lets us apply our own foreground and background palettes.
@function create-wonky-theme($primary, $accent, $warn: mat-palette($mat-red)) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: false,
    foreground: $my-dark-theme-foreground,
    background: $my-dark-theme-background,
  );
}

// The rest of this is like a normal theme.scss file. The only difference being that we use create-wonky-theme instead of mat-light-theme
$custom-theme-primary: mat-palette($mat-purple, 100);
$custom-theme-accent: mat-palette($mat-blue-grey, 400);
$custom-theme-warn: mat-palette($mat-red);

$custom-theme: create-wonky-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);

@include angular-material-theme($custom-theme);

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");


mat-card {
    margin-top: 20px;
}

mat-icon {
    color: white;
}

mat-form-field {
  margin-right: 10px;
  margin-left: 10px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

body {
    background: map-get($mat-blue-grey,50);
}


.dialog-panel .mat-dialog-container {
  background-color: white;
}

.mat-cell, .mat-header-cell {
  font-size: 14px;
  min-height: 48px;
  text-align: center!important;
  border-right: 1px solid black;

  img {
    width: 100px;
  }
}

td.mat-cell:first-of-type, 
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type{
  padding-left: 0!important;
}

.mat-footer-row, .mat-header-row {
  background-color: map-get($mat-blue-grey,50);
  text-align: center;
}